# Thư mục cache của Python
__pycache__/
*.pyc

# Thư mục môi trường ảo (Rất quan trọng!)
venv/
.venv/
env/

# File biến môi trường (Chứa mật khẩu, API key)
.env
*.env

# Các thư mục của IDE (như VSCode, PyCharm)
.vscode/
.idea/

seed_attendance.py
generate_fake_data.py
